@import "normalize"
@import "../app/public/bower-components/semantic-grid/stylesheets/styl/grid.styl"

// Fluid grid
total-width = 100%

body {
    font-family: "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Segoe UI", Tahoma, Arial, Helvetica, Sans-Serif;
    margin: 50px;
}
