@import "normalize"
/*! (http://) semantic.gs */
@import "../app/public/bower-components/semantic-grid/stylesheets/styl/grid.styl"

// Fluid grid
total-width = 100%

// common variables, mixins and color palette
main-background-color = #333;
primary-font = "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, Sans-Serif;
primary-font-color = #ddd;

.non-bulleted-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*! redbud client style */
* {
    position: relative;
    box-sizing: border-box;
}

body {
    background: main-background-color;
    color: primary-font-color;
    font-family: primary-font;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, Sans-Serif;
    font-weight: 100;
}

ul.modules {
    @extends .non-bulleted-list;
}
