extends client-layout

block content
    ul.modules
        li(data-bind="module: 'counts'")
        li(data-bind="module: 'pageviews'")
        li(data-bind="module: 'referrers'")
    script(src="js/require.min.js" data-main="js/main")
