doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title=title
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/css/sample.css")
    body
        block content
        script(type="text/javascript").
            (function () {
                var s = document.getElementsByTagName("script")[0],
                    rbc = document.createElement("script");

                rbc.async = true;
                rbc.src = "http://localhost:3000/redbud-client.js";
                s.parentNode.insertBefore(rbc, s);
            }());

